@import url('./Roboto-Regular.ttf');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

#wrapper {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#name {
  font-size: 24px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: mediumpurple;
  padding: 2px;
  margin-left: 10px;
}

a:hover {
  color: white;
  background-color: mediumpurple;
}

.blogEntry {
  display: flex;
}

.date {
  color: dimgrey;
  width: 225px;
  padding: 2px;
  font-size: 18px;
}

.title {
  color: mediumpurple;
}

#home {
  margin-left: 0px;
}

#contact {
  width: 40vw;
  min-width: 500px;
  margin: 0 auto;
}

#contact a {
  padding: 0px;
  margin-left: 0px;
}

#back {
  margin-left: 0px;
  padding: 0px;
}

#nlDesc {
  font-size: 12px;
  font-style: italic;
  width: 225px;
  margin: 0 auto;
  font-weight: 100;
}

input[type="submit"] {
  padding: 10px;
  outline: none;
  border: 1px solid mediumpurple;
  border-radius: 2px;
  background-color: white;
  color: mediumpurple;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

input[type="submit"]:hover {
  background-color: mediumpurple;
  color: white;
}

input[type="text"] {
  padding: 5px;
}

@media only screen and (max-width: 650px) {
  #contact {
    width: 80vw;
    min-width: 100px;
  }
}
