@import url('./Roboto-Regular.ttf');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

#wrapper {
  width: 100vw;
  height: 80vh;
  margin-top: 100px;
}

#text {
  width: 500px;
  margin: 0 auto;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: mediumpurple;
}

a:hover {
  color: white;
  background-color: mediumpurple;
}

@media only screen and (max-width: 650px) {
  #contact {
    width: 80vw;
    min-width: 100px;
  }

  #text {
    width: 80vw;
  }
}
