@import url('./Roboto-Regular.ttf');

body {
  margin: 0;
}

h1, h2, #back, #date {
}

h1, h2 {
  color: mediumpurple;
}

hr {
  border: 0;
  height: 1px;
  background: mediumpurple;
}

pre {
  background-color: lightgrey;
  border: 1px solid grey;
  padding: 0px;
}

img {
  width: 45vw;
  min-width: 700px;
}

.writing {
  width: 45vw;
  min-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Georgia', Cambria, "Times New Roman",Times,serif;
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: mediumpurple;
}

a:hover {
  color: white;
  background-color: mediumpurple;
}

#date {
  color: grey;
}

.imageDescription {
  font-style: italic;
  font-size: 16px;
}

@media only screen and (max-width: 650px) {
  .writing, img {
    width: 80vw;
    min-width: 100px;
  }
}
